body {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
form {
  padding: 30px;
  margin: auto 0 0;
  text-align: center;
}
h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkblue;
}
h2 {
  text-align-last: center;
  color: #a1c4fd;
}
h4 {
  text-align: center;
}
H5 {
  text-align: center;
  color: #6495ed;
}
.card {
  width: 20px 20px;
  padding: 15px 10px;
  opacity: 95%;
  display: block;
  border-radius: 30px;
}
.form-control {
  text-align: center;
  text-size-adjust: 80%;
  padding: 3px;
}
.btn btn-outline-secondary {
  cursor: pointer;
}
p1 {
  text-align-last: inline;
  font-weight: bold;
  color: red;
}
p2 {
  text-align-last: inline;
  font-weight: bold;
  color: darkblue;
}
.col {
  font-weight: bold;
  color: gray;
}
.currenttemp1 {
  text-align: center;
  color: red;
  font-weight: bolder;
}
.currenttemp2 {
  color: darkblue;
}
.card-body {
  border: #53a8b6;
  border-style: ridge;
  border-radius: 30px;
  border-width: 5px;
}
.alert alert-danger {
  width: 20px;
  padding: 20px 10px 10px 20px;
  border-radius: 50px;
}
thead {
  text-decoration: none;
}
